header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw ;
    height: 70px;
    padding: 0 80px;
    background-color: white;
    z-index: 99;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    border-bottom: #63636343 solid 1px;
}

.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    border-radius: 10px;
}

.logo h3 {
    font-size: xx-large;
    margin-left: 10px;
    font-weight: 500;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav ul a {
    font-size: 16px;
    font-weight: 600;
    color: #636363;
    text-decoration: none;
    transition: all 0.1s;
}

nav ul li {
    margin-right: 20px;
    transition: all 0.1s;
}

nav ul li:hover {
    border-bottom: solid 4px var(--blu);
    color: #000000;
    font-size: 18px;
}
nav ul li:last-child:hover{
    border-bottom: none;
}

nav ul a:hover {
    color: #000000;
    font-size: 16px;
}

.menu-icon {
    display: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.menu-icon .line {
    height: 6px;
    width: 35px;
    background-color: var(--blu);
    margin: 4px auto;
    border-radius: 10px;
}

@media (max-width: 800px) {
    body{
        position: relative;
    }
    header {
        padding: 0 20px;
        margin: 0;
        width: 100vw;    }

    nav ul {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom , white ,rgb(176, 252, 255));
        transition: all 0.5s;
        height: 0px;
        overflow: hidden;
        z-index: 9999999999999999999999999999999999999999999999;
        opacity: 1;
    }

    nav ul {
        display: block;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
    }

    nav ul li div {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    nav ul.active {
        height: 400px;
        opacity: 1;
        overflow: hidden;
    }
}
