.cards {
    width:1240px;
    display: flex;
    align-items: center;
    overflow:auto;
    margin: 0 auto;
}

.text {
    width: 50%;
    height: 100%;
    padding: 0px 60px;
    text-align: left;
}


.title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    word-spacing: 5px;
    text-transform: capitalize;
}

.paragraph {
    font-size: large;
    line-height: 25px;
    color: #767676;
    margin-bottom: 40px;
}

.text .btn {
    height: 40px;
    width: 200px;
}

.picture {
    width: 50%;
}
.picture img {
    width: 100%;
}



@media (max-width:1200px){
    .cardContainer{
        height: auto;
        width: 100%;
    }
    .cards{
        width: fit-content;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        margin: 0 auto;

    }
    
    .cardContainer:nth-child(3) .cards{
        flex-direction:column;
    }

    .text , .picture{
        width: 80%;
    }
}


@media (max-width:600px) {
    .cards{
        display: flex;
        /* flex-direction: column-reverse; */
    }
    /* .cardContainer:nth-child(2) .cards{
        display: flex;
        flex-direction: column;
    } */
    .cardContainer{
        height: auto;
    }
    .text{
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .picture{
        width: 100%;
    }
    .sec-title h1{
        font-size: 30px;
    }
}