.statu{
    height: 45px;
    width: calc(100% - 280px);
    border: solid 1px #e5e5e5;
    border-radius: 7px;
    padding: 8px;
    margin: 10px 10px 0 0;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    color: #5d5d5d;
    box-shadow: 0 1px 5px lightgray;
    position: absolute;
    left:270px ;
}