/* 

.glass-form-groupe{
    margin-left:40px;
    margin-right:40px;
}

.glass-card{
    padding: 40px 0px;
    max-width: 700px;
    background-color: rgba(194, 194, 194, 0.266);
    backdrop-filter: blur(10px);
    border: 1px solid #bdbdbd4e;
    border-radius: 7px;
    margin-top: 100px;
} */

.both{
    display: flex;
    padding: 0 3rem;
    gap: 20px;
    .form-groupe{
        width: 400px;
        margin-right: 0;
        margin-left: 0;

    }
    
}

.form-cont-ainer{
    margin: 70px auto 0;
}

.form-groupe textarea{
    height: 150px;
}

@media (max-width:700px) {
    .both{padding: 0;}
    .both .form-groupe{
        margin: 0;
    }
}

@media (max-width:300px) {
    .both{
        display: block;
    }
    .both .form-groupe{
        width: 100%;
    }
    .both .form-groupe:first-child{
        margin-bottom: 15px;
    }
    
}