.overlay{
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 0px;
    left: 0px;
}

.glass-card{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.938);
    backdrop-filter: blur(10px);
    border: 1px solid #bdbdbd4e;
    border-radius: 7px;
}

.both{
    display: flex;
    padding: 0 3rem;
    gap: 20px;
    .form-groupe{
        width: 400px;
        margin-right: 0;
        margin-left: 0;

    }
    
}
.form-groupe textarea{
    height: 150px;
}

 @media (max-width:700px) {
    .both{
        padding: 0;
        margin-bottom: 15px;

    }
    .both .form-groupe{
        margin: 0;
    }
    .glass-form-groupe{
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width:425px) {
    .both{
        display: block;
    }
    .both .form-groupe{
        width: 100%;
    }
    .both .form-groupe:first-child{
        margin-bottom: 15px;
    }    
} 