

.sec-cont-ainer {
    display: flex;
    background-color: #50c4d1;
    width: 80%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 60px;
}

.sec-form-cont-ainer {
    flex: 1;
    padding: 2rem;
}

.sec-form-cont-ainer h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: xx-large;
}

.sec-form-group {
    /* margin-bottom: 1rem; */
}

.sec-form-group label {
    display: block;
    color: black;
    margin-bottom: 0.5rem;
}

.sec-form-group input,
.sec-form-group select,
.sec-form-group textarea {
    width: 100%;
    height: 30px;
    padding: 3px 9px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.sec-form-group input:focus,
.sec-form-group select:focus,
.sec-form-group textarea:focus {
    border-color: #219aaf;
    outline-style: none;
}

/* .btn {
    display: inline-block;
    background-color: #f8c01e;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
} */

/* .btn:hover {
    background-color: #e0aa1b;
} */

.sec-image-cont-ainer {
    flex: 1;
    background: url("../assets/logoo3.jpg") no-repeat center center;
    background-size: cover;
}

@media (max-width: 1000px) {
    .sec-cont-ainer {
        flex-direction: column;
    }

    .sec-image-cont-ainer {
        height: 200px;
    }
}

.button {
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    background-color: #f8c01e;
    padding: 7px 30px;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
}

