footer section{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
footer section article{
    display: flex;
    align-items: center;
    padding: 30px;

}



/* new styling  */
.left-div{
    width: 35%;
    height: 350px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right-div{
    width: 65%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.right-div .main-card{
    width: 150px;
    height: 200px;
    /* background-color: ; */
}

.right-div .main-card h1{
    font-size: x-large;
    font-weight: 600;
    color: #fff;
    
}
.right-div .main-card li{
    color: #fff;
    padding: 3px 15px;
}
.right-div .main-card li:hover{
    text-decoration: underline;
}

.right-div .main-card:last-child{
    width: 350px;
}


/* .email{
    
} */

.outline{
    outline-style:none ;
    outline-width: 0;
    outline-offset: unset;  
    width: 100%;
    font-size: 18px;
    height: 43px;
}
.follow-margin{
    margin-bottom: 10px;
}

.form-div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Roboto);
    background-color:#E8F0FE ;
    .btn{
        margin: 2px;
    }     
}

.logoo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logoo img {
    height: 80px;
    border-radius: 10px;
}

.logoo h3 {
    font-size: 40px;
    font-weight: 800;
    margin-left: 10px;
}


.rights{
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights h3{
    margin-left: 60px;
}

.rights h3:nth-child(2){
    margin-left: 60px;
    margin-right: 60px;

}
