.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.introduction h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}

.introduction p {
    text-transform: capitalize;
    color: #767676;
    font-weight: 500;
    letter-spacing: 1px;
}

.introduction .btn {
    margin-top: 20px;
    width: 400px;
}
